body {
  margin: 0;
  padding: 0;
}
.osans-light {
  font-family: 'OpenSansLight';
}
.osans-regular {
  font-family: 'OpenSans';
}
.osans-semibold {
  font-family: 'OpenSansSemiBold';
}
.osans-bold {
  font-family: 'OpenSansBold';
}
.osans-extrabold {
  font-family: 'OpenSansExtraBold';
}
.lato-regular {
  font-family: "LatoRegular";
}
header {
  background-image: url(../images/background.png);
  height: 100vh;
  min-height: 700px;
  background-size: cover;
  position: relative;
}
header .container {
  position: relative;
}
header:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border: 40px solid transparent;
  border-bottom: 0px solid transparent;
  border-right: 100vw solid #fff;
  border-left: 0px solid transparent;
}
header .top-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .top-line .logo {
  width: 150px;
  height: 150px;
}
header .top-line .logo img {
  width: 100%;
}
header .top-line .top-mnu {
  margin: 0;
  padding: 0;
}
header .top-line .top-mnu li {
  list-style-type: none;
  display: inline-block;
  position: relative;
  color: #fff;
  font-size: 18px;
  cursor: default;
  font-family: 'OpenSansSemiBold';
}
header .top-line .top-mnu li a {
  color: #fff;
  text-transform: uppercase;
  outline: none;
  transition: color .25s ease;
  position: relative;
  padding-bottom: 2px;
  padding-top: 2px;
}
header .top-line .top-mnu li a:after,
header .top-line .top-mnu li a:before {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  transition: all .5s ease;
  transition-delay: .1s;
  background-color: #fff;
}
header .top-line .top-mnu li a:after {
  top: 100%;
  left: 0;
}
header .top-line .top-mnu li a:before {
  top: 0;
  right: 0;
}
header .top-line .top-mnu li a:hover {
  color: #000;
}
header .top-line .top-mnu li a:hover::after,
header .top-line .top-mnu li a:hover::before {
  width: 100%;
  background-color: #000;
}
header .top-line .top-mnu li:after {
  content: "\\\\";
  position: relative;
  margin: 0 30px;
}
header .top-line .top-mnu li:last-child:after {
  display: none;
}
header .slider-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header .slider-wrapper .slider {
  text-align: center;
}
header .slider-wrapper .slider-descr {
  font-family: 'OpenSansLight';
  font-size: 45px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}
header .slider-wrapper .slider-descr span {
  display: block;
  font-family: 'OpenSansExtraBold';
  font-size: 55px;
}
header .slider-wrapper .slider button#learn-more {
  background-color: #f39e16;
  padding: 10px 35px;
  margin-top: 60px;
  border: none;
  color: #fff;
}
header .slider-wrapper .slider-dots {
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .slider-wrapper .slider-dots .dot {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.6);
  margin-right: 5px;
}
header .slider-wrapper .slider-dots .dot.active {
  background-color: #fff;
}
section .section-header {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  margin-top: 100px;
  margin-bottom: 50px;
}
section .section-header span {
  font-family: 'OpenSansBold';
  font-size: 30px;
  border-right: 5px solid #f39e16;
  padding-right: 20px;
  margin-right: 20px;
}
section .section-header p {
  font-family: 'OpenSans';
  font-size: 16px;
  color: #4c4c4c;
}
.about-item {
  display: flex;
  align-items: flex-start;
  padding-bottom: 100px;
  margin-top: 100px;
  border-bottom: 3px solid #e6e6e6;
  flex-wrap: wrap;
}
.about-item:last-child {
  border-bottom: none;
}
.about-item .about-icon {
  width: 120px;
  height: 120px;
  min-width: 120px;
  min-height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid #f39e16;
  margin-right: 30px;
}
.about-item .about-content {
  margin-right: 30px;
}
.about-item .about-content .about-header {
  font-family: 'OpenSansBold';
  font-size: 20px;
  color: #0d0d0d;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.about-item .about-content .accent-red {
  font-family: 'OpenSansLight';
  font-size: 20px;
  color: #e74c3c;
  margin-bottom: 30px;
}
.about-item .about-content-descr {
  font-family: 'OpenSans';
  font-size: 16px;
  color: #737373;
}
.about-item .about-content.pl90 {
  padding-left: 90px;
  margin-right: 0;
}
.about-item .about-image img {
  max-width: 100%;
}
.about-item .flex-row {
  display: flex;
  margin-right: 0;
}
.about-item .skills-block {
  margin-top: 60px;
}
.about-item .skills-block .skill-item {
  margin-bottom: 40px;
}
.about-item .skills-block .skill-item .skill-header {
  font-family: 'OpenSansBold';
  font-size: 16px;
  color: #0d0d0d;
  text-transform: uppercase;
}
.about-item .skills-block .skill-item .skill-header span.skill-percent {
  font-family: 'OpenSansLight';
}
.about-item .skills-block .skill-item .skill-pbar {
  width: 100%;
  height: 10px;
  background-color: #e6e6e6;
  margin-top: 10px;
  position: relative;
}
.about-item .skills-block .skill-item .skill-pbar-fill {
  position: absolute;
  height: 10px;
  top: 0;
  left: 0;
  background-color: #f39e16;
}
.bevels {
  height: 100vh;
  background-image: url(../images/bg.png);
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bevels .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bevels-big-text {
  font-size: 45px;
  font-family: 'OpenSansBold';
  color: #fff;
  text-align: center;
  position: relative;
  padding: 0 20px;
  margin-bottom: 50px;
}
.bevels-big-text:before {
  content: "“";
  position: absolute;
  left: 0;
  top: -20%;
  font-size: 110px;
}
.bevels-big-text:after {
  content: "“";
  position: absolute;
  top: -20%;
  right: 0;
  font-size: 110px;
}
.bevels .name {
  font-family: 'OpenSansBold';
  font-size: 24px;
  color: #fff;
  display: inline-block;
  text-transform: uppercase;
  padding-top: 15px;
}
.bevels .name.up-line {
  position: relative;
}
.bevels .name.up-line:before {
  content: "";
  position: absolute;
  width: 50px;
  height: 5px;
  background-color: #f39e16;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.team-block {
  margin-top: 130px;
  margin-bottom: 100px;
}
.team-item {
  cursor: default;
  margin-bottom: 10px;
  padding: 30px 20px;
  text-align: center;
  box-shadow: inset 0 2px 0 #f39e16;
  transition: box-shadow 0.5s ease;
  position: relative;
  overflow: hidden;
  z-index: 2;
}
.team-item:before {
  content: "";
  height: 2px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #f39e16;
  transition: height .25s ease;
}
.team-item:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 50%;
  z-index: -2;
  transform: translateY(-500%) translateX(-50%) scale(5);
  transition: transform 1s ease, border-radius 0.5s ease, height 2s ease;
  background-color: #f0f0f0;
}
.team-item-img {
  margin-bottom: 25px;
}
.team-item-img img {
  border-radius: 50%;
  border: 4px solid #f2f2f2;
}
.team-item-name {
  font-family: 'OpenSansBold';
  font-size: 20px;
  text-transform: uppercase;
  color: #0d0d0d;
}
.team-item-position {
  font-family: "LatoRegular";
  font-size: 15px;
  color: #999;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
.team-item-position.small-subline {
  position: relative;
}
.team-item-position.small-subline:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 4px;
  background-color: #cccccc;
  transition: background-color 0.5s ease;
}
.team-item-descr {
  font-family: 'OpenSans';
  font-size: 16px;
  color: #737373;
}
.team-item-social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.team-item-social a {
  text-decoration: none;
  color: #999;
  font-size: 20px;
  margin-right: 15px;
  transition: color .25s ease;
}
.team-item-social a:hover {
  color: #f39e16;
}
.team-item:hover:before {
  height: 6px;
}
.team-item:hover:after {
  top: 0;
  transform: translateY(0%) translateX(-50%) scale(20);
}
.team-item:hover .team-item-position.small-subline:after {
  background-color: #e74c3c;
}
.header-client {
  display: block;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  font-family: 'OpenSansBold';
  color: #fff;
  margin-bottom: 60px;
}
.header-client {
  display: block;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  font-family: 'OpenSansBold';
  color: #fff;
  margin-bottom: 60px;
}
.icon-client img {
  max-width: 100%;
  border: 2px solid rgba(255, 255, 255, 0.3);
  padding: 10px;
}
.icon-client img {
  max-width: 100%;
  border: 2px solid rgba(255, 255, 255, 0.3);
  padding: 10px;
}
@media only screen and (max-width: 1920px) {
  header .container {
    justify-content: center;
  }
}
@media only screen and (max-width: 1280px) {
  header .container {
    justify-content: flex-end;
  }
}
@media only screen and (max-width: 992px) {
  .about-item .about-content.pl90 {
    margin-top: 50px;
    padding-left: 0px;
  }
  .about-item .about-image {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
}
